:root {
    --brown: #D5966C;
    --black: #151515;
    --grey: #444444;

    --headingXL: 96px;
    --headingL: 70px;
    --headingM: 60px;
    --headingS: 36px;
    --bodyM:22px;
    --bodyS:18px;
}